/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  box-sizing: content-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: grid;
  grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end]; /* start to center to end */
  grid-template-rows: repeat(6, min-content);
  max-width: 100%;
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
  display: flex;
  /* border: 1px solid black; */
  grid-column: full-start / full-end; /* IMPORTANT: navebar users 1fr of the screen */
  justify-content: space-between;
  height: 4rem; /* 16px x 4rem = 64px */
}

/* Set up logo styles */
.logo {
  height: 3rem;
  margin-left: 1.5rem;
  /* border: 1px solid black; */
}
.logoname {
  text-transform: uppercase;
}

.logoname-bold {
  font-weight: bold;
  color: #484848;
}

.logoname-light {
  font-weight: lighter;
  color: #aaa;
}

/* Set up navigation links' styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center; /* TODO: to confirm the alignment for the list of links */
}
nav ul li {
  padding-right: 1rem;
  /* border: 1px solid black; */
}

nav ul li:last-child {
  padding-right: 1.5rem;
}
nav > a {
  display: flex;
  align-items: center;
}
/* Set up header area */
header {
  display: flex;
  align-items: center; /* vertically center the header */
  justify-content: center; /* horizontally center the header */
  background-color: #d8d8d8;
}

.imagecontainer {
  padding: 2rem 1.5rem 2rem 1.5rem; /* top = 2 rem, right = 0 rem, bottom = 2 rem, left = 1.5rem */
  /* border: 1px solid black; */
}

header > img {
  max-width: 100%; /*  */
  height: auto;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 18rem;
  padding: 0 1.5rem; /* Top, left */
}

header > div > h1 {
  font-size: x-large;
}

header > div > h2 {
  font-size: large;
}

header > div > a {
  background-color: #484848;
  display: block;
  width: 100%;
  padding: 0.5rem 0; /* top=8px, left=0px */
  text-align: center;
  color: #ffff;
}

/* hover effect for call to action link */

header > div > a:hover {
  color: rgb(255, 255, 255, 0.5);
  background-color: rgb(72, 72, 72, 0.5);
}

/* Set up practice section */
.practice {
  display: flex;
  justify-content: flex-start; /* push content to the left */
  flex-direction: column;
}
.practice > .imagecontainer > img {
  max-width: 100%;
  height: auto;
}
.practice > .practice-text {
  padding: 0 1.5rem;
}
.practice > .practice-text > h1 {
  font-size: x-large;
  margin: 2rem 0 1.5rem 0;
}
.practice > .practice-text > p {
  font-size: small;
  font-weight: lighter;
}
.practice > .practice-text > p > span {
  display: block;
  padding: 2rem 0;
}

/* set up event section */
.events {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid#e7e7e7;
}
.events .event-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}
.events .event-block:last-child {
  background-color: #d8d8d8;
}

.events > .event-block > img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}
.events > .event-block:first-child > img {
  margin-top: 2rem;
}
.events > .event-block > div > h3 {
  font-size: medium;
}
.events > .event-block > .event-text > h3 {
  font-size: medium;
}
.events > .event-block > .event-text {
  margin: 2rem;
}
.events > .event-block > div > p,
.events > .event-block > .event-text > a {
  font-size: small;
}
.events > .event-block > .event-text > a {
  color: #3434c6;
}
.events > .event-block > .event-text > p {
  margin: 0.5rem 0;
}
/* start of Learning Section */
.learning{
    display: block;
    flex-direction: row;
    gap: 0;
    padding: 0;
    margin-left: 0;
    grid-column: full-start / full-end;
    background-color: #EAEBEC; 
    
  }

  .learning > .learning-grid {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 4.5rem 2rem 4.5rem ;  /* 32px, 72px, 32px, 24px */
    column-gap: 2rem; /* 32px */
    row-gap: 2rem; /* 32px */
    background-color: #EAEBEC;    
}

.learning > h1 {
  padding-top: 2rem; /* create top padding with 32px */
  font-size: xx-large;
  text-align: center;
  }
.learning-card > :last-child {
  padding: 16px 8px 16px 16px; /* top, right, btm, left */
  background-color: #ffffff;  
}
.learning-details > h3 {
  margin-bottom: 8px;
  margin-left: 16px;
}
.learning-details > h4 {
  margin-bottom: 8px;
  margin-left: 16px;
}
.learning-details > p{
  margin-bottom: 24px;
  margin-left: 16px;
}

.learning-image{
  max-width: 100%;
  height: auto;
  display: block;
  /* object-fit: contain; */
}
/* Set up practice section */
#title {
    grid-column: 1 / span 2;
    text-align: center;
    font-size: medium;
    /* margin: 0; */
}

.thesis {
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns: 60% 40%;
    column-gap: 24px;
    row-gap: 32px;
    align-items: start;
    padding-left: 24px;
}

.thesis-grid {
    padding-left: 24;
}
.thesis>.thesis-grid>.videocontainer>video {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
}

.thesis>.thesis-text {
    padding: 0 1.5rem;
}

.thesis>.thesis-text>p {
    font-size: small;
    font-weight: lighter;
}

/* set up event section */
.notes {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  border-left: 1px solid#e7e7e7;
}
.notes .notes-block {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
}
.notes .notes-block:first-child {
  background-color: #484848;
}

.notes .notes-block > img {
  max-width: 100%;
  height: auto;
  margin: 1rem;
}

.notes > .notes-block > div > h3 {
  font-size: medium;
}
.notes > .notes-block > .notes-text > h3 {
  font-size: medium;
}
.notes > .notes-block > .notes-text {
  margin: 2rem;
}
.notes > .notes-block > div > p,
.notes > .notes-block > .notes-text > a {
  font-size: small;
}

.notes > .notes-block > .notes-text > p {
  margin: 0.5rem 0;
}
/* End of Thesis Section */


/* start of footer section */
footer {
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  border-top: 1px solid #e7e7e7;
  /* how do we spread the content, similar to the navbar */
  justify-content: space-between;
  padding: 1rem 0 2rem 0;
  color: #8d8d8d;
}

footer > p {
  margin-left: 1.5rem;
}
footer > ul {
  display: flex;
  list-style: none;
}
footer > ul > li {
  margin-right: 1rem;
}
footer > ul > li:last-child {
  margin-right: 1.5rem;
}

/* Hide nav-mobile in desktop view */
#nav-mobile, .events > .event-block > .events-img-mobile{
  display: none;
}
/* Hide events mobile */

/** ********************** **/
/** End of Desktop Section **/

/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem) {
  nav, .practice {
    display: none;
  }
  #nav-mobile {
    display: flex;
    height: 4rem;
    align-items: center;
    grid-column: full-start / full-end;
    justify-content: space-around;
  }
  header {
    display: grid;
    grid-column: full-start / full-end;
  }
  .imagecontainer {
    padding: 0;
  }
  header > div {
    display: block;
    width: auto;
    height: auto;
    padding: 2rem 1rem;
  }
  header > div > h1 {
    font-size: 3rem; /* xx-large is 32px */
    padding: 2rem 0 2rem 1rem;
  }
  header > div > h2 {
    font-size: x-large; /* xx-large is 32px */
    font-weight: normal;
    padding-bottom: 1.5rem;
  }
  header > div > a {
    opacity: 0.5;
  }
  .events {
    display: grid;
    grid-column: full-start / full-end;
  }
  .events > .event-block {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem 1rem;
  }
  .events > .event-block:first-child > img {
    margin-top: 0;
  }
  .events > .event-block > .event-text {
    
    width: 100;
    height: auto;
    padding-left: 1rem;
  }
  .events > .event-block > .event-text > h3{
    font-size: xx-large;
  }
  .events > .event-block > .event-text > p,
  .events > .event-block > .event-text > a{
    font-size:large;
    font-weight: lighter;
  }
  .events > .event-block > img {
    display: none;
  }
  .events > .event-block > .events-img-mobile {
    display: block;
  }
  /* end of events hiding */
 /* hide learning-card, hide thesis-text as well as notes block  */

 .learning-grid{
    display: none;
  } 

 .learning-card{
  display: none;
 }
 .thesis > #title > h1{
  display: none;
 }
 .thesis-text{
  display: none;
 }
 .notes{
  display: none;
 }
/* Now start displaying adjustments in mobile view for Learning and Thesis */
/* Learning */
.learning-grid > .learning-card{
    display: grid;
    /* grid-template-rows: 1; */
    grid-column-start: 5 span;
    /* padding: 2rem 4.5rem 2rem 4.5rem ;  /* 32px, 72px, 32px, 24px */ 
    /* column-gap: 0.5rem; /* 16px */ 
    /* row-gap: 1rem; /* 16px */ 
    /* border: 1px solid #f10a0a ; */
}
.learning-card > h3 > a{
  background-color: #484848;
  display: block;
  width: 100%;
  padding: 0.5rem 0; /* top=8px, left=0px */
  text-align: center;
  color: #ffff;
}
.learning-card > :last-child {
  padding: 16px 24px 24px 16px; /* wording padding top, right, btm, left */
  background-color: #b6b4b4;
  display: block;
  width: 100%;
  /* padding: 0.5rem 0; */ /* top=8px, left=0px */
  color: #000;
}
.learning-grid > .learning-card img{
  display: none;
}
.learning-grid > .learning-card p{
  display: none;
}
.learning-grid > .learning-card h4{
  display: none;
}
/* Thesis */
/* Thesis */
    .thesis {
        display: block;
        grid-template-columns: 1fr;
        padding: 0;
        /* border: 1px solid red; */
    }

    .thesis>#title:after {
        content: "Thesis Exhibits";
        font-size: xx-large;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .thesis .videocontainer,
    .thesis .videocontainer video {
        width: 100%;
        display: block;
        /* border: 1px solid blue; */
    }
    /* End of Thesis - mobile view */
} 




  /* Hide footer in mobile */
footer > ul{
  display: none;
  }

  .events{
    border-left: none;
  }
  /* remove bckground color for event: "special guest lecturer" */
  .events > .event-block:last-child{
    background-color:#ffff;
    border-bottom: 1px solid #e7e7e7;
  }


/* *********************** */
/** End of Mobile Section **/

